<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form (ngSubmit)="logIn(userEmail, userPassword)" #loginForm="ngForm">
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="userEmail"
              name="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="userPassword"
              name="password"
              required
            ></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                [disabled]="!loginForm.valid"
                expand="block"
              >
                Login
              </ion-button>
            </ion-col>
          </ion-row>
          <span class="divider line one-line">or</span>
          <ion-row>
            <ion-col>
              <ion-button
                type="button"
                color="danger"
                (click)="authService.GoogleAuth()"
                expand="block"
              >
                Login with Google
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
